---
layout: page
title: Formal verification of mutual exclusion protocols
description: 
#  
img: 
importance: 3
category: mixed
related_publications: true
---

Using proof scores and CafeOBJ, we formally verify that (1) an abstract version of the Anderson mutual exclusion protocol {% cite DBLP:conf/seke/Tran020 %} and (2) an the MCS mutual exclusion protocol {% cite DBLP:conf/apsec/TranBG020 %} enjoy the mutual exclusion property.
